.pagination-wrapper {
  height: fit-content;
  position: absolute;
  bottom: 0;
  transform: translate(-50%, 100%);
  margin: 0;
  left: 50%;
  padding: 0;
  /* top: 10px;
  z-index:1 */
}
.questions-wrapper {
  position: relative;
  width:110%;
  height: 100%;
  margin-left: 10%;
}
@media (max-width: 576px) {
  .questions-wrapper {
    /* Center the element on smaller screens */
    margin-left: 15px;
    margin-right: auto;
    width: 110%; /* Adjust the width as needed for centering */
  }
}
.questions-card {
  
  height: 100%;
}
.card-title{
    text-align: center;

}
.card-sub-title{
    text-align: center;

}

.options{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25%;
    margin-left: 2%;

}
   
.card-questions{
    margin-top: 3%;
}
.category-card{
    box-shadow: 5px 10px rgb(235, 233, 233);
    
}
.option-reset-btn{
  font-size: 0.8rem;
  border:0.5px solid black;
  border-radius: 8px;
 /* padding-left: 80px; */
 float: right;
 color: black;
 background-color:#f7e4e4 ;
}