.slider-card{

margin: auto;
margin-top: 4%;
margin-bottom: 5%;
}
.sliders-wrapper{
    margin-top: 5%;
    width:60%;
    margin-left: 30%;
}
@media (max-width: 768px) {
    .sliders-wrapper {
      margin-top: 15%; /* Adjust margin-top for smaller screens */
      width: 80%; /* Adjust width for smaller screens */
      align-self: center; /* Adjust margin-left for smaller screens */
    }
  }
  
  /* Media query for screens smaller than 576px (e.g., mobile devices) */
  @media (max-width: 576px) {
    .sliders-wrapper {
      margin-top: 15%; /* Further adjust margin-top for small screens */
      width: 90%; /* Further adjust width for small screens */
      margin-left: 10%; /* Further adjust margin-left for small screens */
    }
  }
  

  /* In your CSS file (e.g., Sliders.css) */
.slider-values {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px; /* Optional margin for spacing */
}

.slider-value {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 10px; /* Optional margin for spacing between values */
}

.slider-value label {
  font-weight: bold;
  margin-bottom: 5px; /* Optional margin below the label */
}

.slider-value input {
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 3px;
  width: 80px; /* Adjust the width as needed */
}

  
  
  
  
  