.header-title{
   text-align: center;
}
.header-title p{
    color: #403c57;
    font-weight: bolder;
    font-size: 3rem;
}
.team-info-heading{
   margin-left: 80%;
   margin-top: -4%;
   margin-bottom: 4%;
}
.team-info-btn{
    border: 0.5px solid black;
    background:none;
    background-color:rgba(184,231,247);
    color: black;
    border-radius: 5px;
}