/* Footer styles */
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footer-logo {
  width: 100px; /* Adjust the width as needed */
}

.footer-text {
  margin-top: 10px;
}

.footer-text p {
  margin-bottom: 10px;
  font-size: 14px;
}

.footer-text-connect ul {
  list-style: none;
  padding: 0;
}

.footer-text-connect ul li {
  margin-bottom: 5px;
}

.footer-text-connect a {
  text-decoration: none;
  color: #007bff; /* Link color */
}

/* Media query for mobile responsiveness */
@media (max-width: 576px) {
  .footer-logo {
    width: 80px; /* Adjust the width for smaller screens */
  }

  .footer-text {
    text-align: center;
  }
}
